* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* max-width: 114rem; */
}

.container {
  width: 60%;
  margin: 7.5rem auto;
  border: 1px solid #eee;
  /* padding: 1.5rem; */
}

.darkmode__box {
  width: 100%;
  height: 7.5rem;
  text-align: right;
  padding: 2rem 1.5rem;
}

.icon-box {
  display: inline-block;
  height: 3.2rem;
  width: auto;
}

.icon-tabler-sun,
.icon-tabler-moon {
  height: 100%;
  width: 100%;
}

.icon-tabler-sun {
  stroke: yellow;
  stroke-width: 2;
}

.switch-box {
  width: 8rem;
  height: 3rem;
  background-color: #78909c;
  border-radius: 5rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: right;
  margin: 0 1rem;
}

.switch-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #263238;
}

.right {
  margin-left: 5rem;
}

.card {
  width: 90%;
  margin: 3rem auto;
  height: 50rem;
  background-image: url("/static/images//bg-min.jpg");
  background-position: center;
  background-size: cover;
}

.card__glass {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(5px);
  width: 80%;
  height: 70%;
  border-radius: 1.6rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
  padding: 2.5rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #212121;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}

.card__form {
  margin-top: 1rem;
}

.card__label {
  font-size: 2rem;
  font-weight: 400;
  display: block;
}

.card__label ~ svg {
  height: 2rem;
  width: auto;
  position: absolute;
  top: 3.5rem;
  left: .5rem;
  stroke-width: 1.5;
}

.row {
    position: relative;
    margin-bottom: 1.5rem;
}

.card__input {
    width: 75%;
    height: 3.5rem;
    padding-left: 3rem;
    border: none;
    border: .5px solid #888;
    border-radius: 5px;
}

.card__input:focus {
    outline: none;
}

.card__input:focus:invalid {
    border-bottom: 1px solid red;
}

.card__input:focus:valid {
    border-bottom: 1px solid green;
}

.card__input::-webkit-input-placeholder {
    color: #181818;
}

