* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 22.5em) {
  html {
    font-size: 31.25%;
  }
}

@media (min-width: 40em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 80em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 22.5em) {
  html {
    font-size: 31.25%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* max-width: 114rem; */
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #212121;
}

@media (min-width: 22.5em) {
  .heading {
    font-size: 3.2rem;
    font-weight: 300;
  }
}

@media (min-width: 40em) {
  .heading {
    font-size: 3rem;
    font-weight: 400;
  }
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}

@media (min-width: 22.5em) {
  .text {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media (min-width: 40em) {
  .text {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.text--sub {
  font-size: 1.4rem;
  font-weight: 300;
  color: #212121;
}

@media (min-width: 22.5em) {
  .text--sub {
    font-size: 2rem;
    font-weight: 400;
  }
}

@media (min-width: 40em) {
  .text--sub {
    font-size: 1.75rem;
    font-weight: 400;
  }
}

.switch-box {
  width: 8rem;
  height: 3rem;
  background-color: #78909c;
  border-radius: 5rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: right;
  margin: 0 1rem;
}

@media (min-width: 22.5em) {
  .switch-box {
    width: 10rem;
    height: 4rem;
    border-radius: 10rem;
    padding: 0;
  }
}

@media (min-width: 40em) {
  .switch-box {
    width: 12.5rem;
    height: 5rem;
    border-radius: 10rem;
    padding: .5rem;
  }
}

.switch-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #263238;
  transition: all .75s;
}

@media (min-width: 22.5em) {
  .switch-btn {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 40em) {
  .switch-btn {
    width: 4rem;
    height: 4rem;
  }
}

.right {
  margin-left: 6rem;
}

@media (min-width: 22.5em) {
  .right {
    margin-left: 6rem;
  }
}

@media (min-width: 40em) {
  .right {
    margin-left: 7.5rem;
  }
}

.icon-box {
  display: inline-block;
  height: 3.2rem;
  width: auto;
}

@media (min-width: 22.5em) {
  .icon-box {
    height: 4rem;
    width: 4rem;
  }
}

@media (min-width: 40em) {
  .icon-box {
    height: 5rem;
    width: 5rem;
  }
}

.icon-tabler-sun {
  height: 100%;
  width: 100%;
  stroke: yellow;
  stroke-width: 2;
}

.icon-tabler-moon {
  height: 100%;
  width: 100%;
  stroke: grey;
}

.card {
  width: 90%;
  margin: 3rem auto;
  height: 50rem;
  background-image: url("/static/images/dark mountain.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1.6rem;
  overflow: hidden;
}

@media (min-width: 22.5em) {
  .card {
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 60rem;
  }
}

.card__glass {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(16px);
  width: 80%;
  height: 75%;
  border-radius: 1.6rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 2.5rem;
}

@media (min-width: 22.5em) {
  .card__glass {
    width: 75%;
    height: 80%;
    border-radius: 3.2rem;
  }
}

.card__form {
  margin-top: 1rem;
}

@media (min-width: 22.5em) {
  .card__form {
    margin-top: 2rem;
  }
}

.card__label {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

@media (min-width: 22.5em) {
  .card__label {
    font-size: 2.4rem;
    font-weight: 300;
  }
}

@media (min-width: 40em) {
  .card__label {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: .75rem;
  }
}

.card__label ~ svg {
  height: 2rem;
  width: auto;
  position: absolute;
  top: 3.5rem;
  left: 0.4rem;
  stroke-width: 1.5;
}

@media (min-width: 22.5em) {
  .card__label ~ svg {
    height: 3rem;
    top: 4.3rem;
    left: 1rem;
  }
}

.card__label--checkbox {
  display: inline-block;
  font-size: 1.6rem;
  color: #333333;
  margin-left: 0.5rem;
  cursor: pointer;
}

@media (min-width: 22.5em) {
  .card__label--checkbox {
    font-size: 2rem;
    margin-left: 1rem;
    vertical-align: bottom;
  }
}

@media (min-width: 40em) {
  .card__label--checkbox {
    font-size: 1.75rem;
    margin-left: 1rem;
    vertical-align: bottom;
  }
}

.card__input {
  width: 75%;
  height: 3.5rem;
  padding-left: 3rem;
  border: none;
  border: 0.5px solid #888;
  border-radius: 5px;
}

@media (min-width: 22.5em) {
  .card__input {
    width: 90%;
    height: 4rem;
    padding-left: 5rem;
    vertical-align: top;
    border-radius: 10rem;
  }
}

.card__input:focus {
  outline: none;
}

.card__input:focus:invalid {
  border-bottom: 1px solid red;
}

.card__input:focus:valid {
  border-bottom: 1px solid green;
}

.card__input::-webkit-input-placeholder {
  color: #181818;
}

@media (min-width: 22.5em) {
  .card__input::-webkit-input-placeholder {
    font-size: 2rem;
  }
}

.card__help--text {
  font-size: 1.2rem;
  font-weight: 300;
}

@media (min-width: 22.5em) {
  .card__help--text {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.card__help--text--psd {
  margin-left: 23rem;
}

@media (min-width: 22.5em) {
  .card__help--text--psd {
    margin: 1rem 5rem 0 0;
    font-size: 1.6rem;
    float: right;
  }
}

.card__submit__btn {
  width: 75%;
  height: 4rem;
  background-color: green;
  color: white;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 5rem;
  box-shadow: 0px 1px 3px #888;
}

@media (min-width: 22.5em) {
  .card__submit__btn {
    width: 90%;
    height: 4rem;
  }
}

@media (min-width: 40em) {
  .card__submit__btn {
    height: 5rem;
    font-size: 2rem;
  }
}

.remember__checkbox[type="checkbox"] {
  border-radius: 0.4rem;
}

.remember__checkbox {
  -webkit-print-color-adjust: exact;
  appearance: none;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #d1d5db;
  color-adjust: exact;
  height: 2.5rem;
  margin-top: 0.1875em;
  vertical-align: top;
  width: 2.5rem;
}

.link, .link:active, .link:visited {
  text-decoration: none;
  color: blue;
  transition: all 0.3s;
}

.link:hover {
  color: #1a1a1a;
  text-decoration: underline;
}

.rig {
  margin-left: 2rem;
}

.dark-body {
  background-color: #181818;
}

.dark-container {
  border: 1px solid #eee;
}

.dark-sun {
  stroke: rgba(255, 255, 0, 0.534);
  stroke-width: 1;
}

.dark-moon {
  stroke: #eee;
  stroke-width: 2;
}

.dark-glass {
  background-color: rgba(17, 25, 40, 0.6);
  border: 1px solid rgba(209, 213, 219, 0.5);
}

.dark-heading {
  color: #f2f2f2;
}

.dark-text, .dark-remember, .dark-sub, .dark-label {
  color: #eee;
}

.dark-input {
  background-color: #888;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.dark-input-svg {
  stroke: #f2f2f2;
}

.remember__checkbox--dark {
  background-color: #1f2a37;
  border: 1px solid #4b5663;
  cursor: pointer;
}

.container {
  width: 60%;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 22.5em) {
  .container {
    width: 90%;
  }
}

@media (min-width: 40em) {
  .container {
    width: 80%;
  }
}

@media (min-width: 48em) {
  .container {
    width: 75%;
  }
}

@media (min-width: 64em) {
  .container {
    width: 70%;
  }
}

@media (min-width: 80em) {
  .container {
    width: 60%;
  }
}

.darkmode__box {
  width: 100%;
  height: 7.5rem;
  text-align: right;
  padding: 2rem 1.5rem;
}

@media (min-width: 22.5em) {
  .darkmode__box {
    height: 10rem;
    padding: 2rem;
  }
}

@media (min-width: 40em) {
  .darkmode__box {
    height: 12rem;
    padding: 2.5rem;
  }
}

.row {
  position: relative;
  margin-bottom: 1.5rem;
  display: block;
}
