.card {
  width: 90%;
  margin: 3rem auto;
  height: 50rem;
  background-image: url("/static/images/dark mountain.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1.6rem;
  overflow: hidden;

  @include respond(xsm) {
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 60rem;
  }

  &__glass {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
    width: 80%;
    height: 75%;
    border-radius: 1.6rem;
    border: 1px solid rgba(209, 213, 219, 0.3);
    @include absolute-center;
    position: relative;
    padding: 2.5rem;

    @include respond(xsm) {
      width: 75%;
      height: 80%;
      border-radius: 3.2rem;
    }
  }

  &__form {
    margin-top: 1rem;

    @include respond(xsm) {
      margin-top: 2rem;
    }
  }

  &__label {
    font-size: 2rem;
    font-weight: 400;
    display: block;
    cursor: pointer;

    @include respond(xsm) {
      font-size: 2.4rem;
      font-weight: 300;
    }

    & ~ svg {
      height: 2rem;
      width: auto;
      position: absolute;
      top: 3.5rem;
      left: 0.4rem;
      stroke-width: 1.5;

      @include respond(xsm) {
        height: 3rem;
        top: 4.3rem;
        left: 1rem;
      }
    }

    &--checkbox {
      display: inline-block;
      font-size: 1.6rem;
      color: #333333;
      margin-left: 0.5rem;
      cursor: pointer;

      @include respond(xsm) {
        font-size: 2rem;
        margin-left: 1rem;
        vertical-align: bottom;
      }
    }
  }

  &__input {
    width: 75%;
    height: 3.5rem;
    padding-left: 3rem;
    border: none;
    border: 0.5px solid #888;
    border-radius: 5px;

    @include respond(xsm) {
      width: 90%;
      height: 4rem;
      padding-left: 5rem;
      vertical-align: top;
      border-radius: 10rem;
    }

    &:focus {
      outline: none;
    }

    &:focus:invalid {
      border-bottom: 1px solid red;
    }

    &:focus:valid {
      border-bottom: 1px solid green;
    }

    &::-webkit-input-placeholder {
      color: #181818;

      @include respond(xsm) {
        font-size: 2rem;
      }
    }
  }

  &__help {
    &--text {
      font-size: 1.2rem;
      font-weight: 300;

      @include respond(xsm) {
        font-size: 1.6rem;
        font-weight: 400;
      }

      &--psd {
        margin-left: 23rem;

        @include respond(xsm) {
          margin: 1rem 5rem 0 0;
          font-size: 1.6rem;
          float: right;
        }
      }
    }
  }

  &__submit__btn {
    width: 75%;
    height: 4rem;
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 5rem;
    box-shadow: 0px 1px 3px #888;

    @include respond(xsm) {
      width: 90%;
      height: 4rem;
    }
  }
}

.remember__checkbox[type="checkbox"] {
  border-radius: 0.4rem;
}

.remember__checkbox {
  -webkit-print-color-adjust: exact;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #d1d5db;
  color-adjust: exact;
  height: 2.5rem;
  margin-top: 0.1875em;
  vertical-align: top;
  width: 2.5rem;
}
