.dark {
  &-body {
    background-color: #181818;
  }

  &-container {
    border: 1px solid #eee;
  }

  &-sun {
    stroke: rgba(255, 255, 0, 0.534);
    stroke-width: 1;
  }

  &-moon {
    stroke: #eee;
    stroke-width: 2;
  }

  &-glass {
    background-color: rgba(17, 25, 40, 0.6);
    border: 1px solid rgba(209, 213, 219, 0.5);
  }

  &-heading {
    color: #f2f2f2;
  }

  &-text,
  &-remember,
  &-sub,
  &-label {
    color: #eee;
  }

  &-input {
    background-color: #888;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  &-input-svg {
    stroke: #f2f2f2;
  }
}
.remember__checkbox--dark {
  background-color: #1f2a37;
  border: 1px solid #4b5663;
  cursor: pointer;
}
