.link {
  &,
  &:active,
  &:visited {
    text-decoration: none;
    color: blue;
    transition: all 0.3s;
  }

  &:hover {
    color: #1a1a1a;
    text-decoration: underline;
  }
}

.rig {
    margin-left: 2rem;
}
