.switch-box {
  width: 8rem;
  height: 3rem;
  background-color: #78909c;
  border-radius: 5rem;
  padding: 0.5rem;
  display: inline-block;
  text-align: right;
  margin: 0 1rem;
}

.switch-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #263238;
  transition: all .3s;
}

.right {
  margin-left: 5rem;
}
